/* *{
    border: 1px solid red;
} */

/* li>a{
    color: yellow;
    text-decoration: none;
}

li a{
    color: black;
    text-decoration: overline;
} */

/* h1+p{
    color: crimson;
} */

/* h1~p{
    color:magenta;
} */

/* ----------------------------------------- */

/* body{
    color: red;
    border: 1px solid blue;
} */

/* *{
    color: blue;
}

h2{
    color: pink;
}

h2#amarelo{
    color: yellow;
}

h2.verde{
    color: green;
} */

/* ------------------------------------------ */

/* ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 5px 20px;
    background: url(imagens/seta.png) no-repeat left center;
} */

/* ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a{
    width: 200px;
    height: 40px;
    color: #000;
    text-decoration: none;
    display: block;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(imagens/menu.png) no-repeat left bottom;
}

a:hover{
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}

#home #navegacao .home a , #sobre #navegacao .sobre a{
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;   
}

------------------------------------------------ */

/* 
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 920px;
    background: #159cb0 url(imagens/fundo-horizontal.png) repeat-x;
    float: left;
}

ul li{
    float: left;
}

ul a{
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: white;
    background: url(imagens/divisor.png) repeat-y;
}

ul .primeiro a{
    background: none;
}

ul a:hover{
    color: #085662;
    background-color: #44cade;    
}

------------------------------------------------- */

/* body{
    font-family: 'Times New Roman', Times, serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
}

ul li{
    float: left;
    background: url(imagens/aba-direita.png) no-repeat top right;
}

li a{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(imagens/aba-esquerda.png) no-repeat top left;
    color: white;
}

ul a:hover{
    color: darkgray;    
}

ul #atual{
    background: url(imagens/aba-direita-atual.png) no-repeat top right;   
}

ul #atual a{
    background: url(imagens/aba-esquerda-atual.png) no-repeat top left;   
}

------------------------------------------------------ */

/* body{
    font-family: 'Times New Roman', Times, serif;
    background: #f2f2f2;
}

#container{
    /* width: 85%; */
    /* width: 960px;
    margin: 0 auto;
    background: white url(imagens/coluna.png) repeat-y left top;
    min-width: 720px;
    max-width: 960px;
} */

/* #marca{
    width: 100%;
    height: 200px;
    background: #225992 url(imagens/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

#conteudo{
    width: 75%;
    float: right;
}

#navegacao{
    width: 23%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px; */
    /* background: #d1d1d1;
} */

/* 
#rodape{
    clear: both;
    background-color: #c4c4c4;
    padding: 5px;
}

#navegacao ul{
    list-style: none;
    color: purple;
}

#navegacao li a{
    text-decoration: none;
}

#princ{
    float: left;
    width: 63%;
}

#sec{
    float: right;
    width: 34%;
    background: gray;
}

img.img-fundo{
    width: 96%;
    padding: 2%;
    max-width: 600px;
}

------------------------------------------------------  */

/* body{
    font-family: 'Times New Roman', Times, serif;
}

table{
    width: 600px;
    border-collapse: separate;       
}

th , td{
    padding: 7px;
}

th{
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}

tr.alternado{
    background: #efefef;
}

.numero{
    text-align: right;
}

tr:hover{
    background-color: #c3e6e5;
    color: #fff;
}

---------------------------------------------------- */

/* fieldset{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
}

legend{
    font-weight: bold;
}

label{
    display: block;
    cursor: pointer;    
} */

/* input[type="text"]*/
/* input{
    width: 20em;
}

textarea{
    width: 20em;
    height: 10em;
}

input.radio, input.checkbox, input.submit{
    width: auto;
}

.radio{
    margin-right: 1em;
} */

/* ---------------------------------------------------------- */

/* body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #643d87 url(imagens/fundo.jpg) no-repeat top center;
}

#container{
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

#container img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;    
}

input{
    height: 40px;
    width: 80%;
    font-family: 18px;
    margin-bottom: 10px;
    color: #fff;
    padding-left: 40px;
    border: none; 
    background-repeat: no-repeat;
    background-position: 10px;       
}

input.email{
    background-image: url(imagens/icone-usuario.png);
}

input.senha{
    background-image: url(imagens/icone-cadeado.png);
}

input.submit{
    color: #fff;
    background-color: #f79300;
    border: 2px solid #db7d00;  
    padding: 5px 20px;
    height: 45px;
    width: 90%;  
    background: linear-gradient(to bottom , #faa600 , #f68a00); 
    cursor: pointer;   
}

------------------------------------------------------ */

/* .caixa{
    width: 400px;
    background: #dedede url(imagens/topo.png) no-repeat left top;
}


.caixa h2{
    padding: 10px 20px 0 20px;
}

.caixa p{
    background: url(imagens/baixo.png) no-repeat left bottom;
    padding: 0 20px 20px 20px;    
} */

/* .caixa{
    width: 400px;
    background: #dedede url(imagens/fundo-arredondamento.png) repeat-y;
}

.caixa h2{
    padding: 10px 20px 0 20px;
    background: url(imagens/topo2.png) no-repeat left top;
}

.caixa p{
    padding: 0 20px;
    margin-bottom: 0;
}

.caixa .ultimo{
    padding-bottom: 20px;
    background: url(imagens/baixo2.png) no-repeat left bottom; 
    width: 400px;
    height: 24px;   
}

--------------------------------------------------- */